.projects__container-div {
  min-height: 100vh;
  width: calc(100% - calc(15px));
  margin-left: 15px;
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.projects__full-div {
  margin-left: 60px;
  width: calc(100% - 60px);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__grid-container {
  max-width: 80rem;
  height: auto;
  max-height: 45rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border: 2px solid #E4EE89;
  background-color: #E4EE89;
  margin-top: 20px;
}

.project {
  transition: transform 500ms ease-in-out;
}

.animated .project {
  transform: translateX(0) translateY(0) !important;
}

.project1 {
  grid-area: 1 / 1 / 3 / 2;
  transform: translateX(-100px);
}

.project2 {
  grid-area: 3 / 1 / 4 / 3;
  transform: translateY(-100px);
  overflow: hidden;
}

.project3 {
  grid-area: 1 / 2 / 3 / 3;
  transform: translateY(-100px);
}

.project4 {
  grid-area: 1 / 3 / 2 / 4;
  transform: translateX(-100px);
}

.project5 {
  grid-area: 2 / 3 / 4 / 4;
  transform: translateY(100px);
}

@media only screen and (max-width: 1330px) {
  .projects__container-div {
    width: calc(100% - 20px);
    margin-right: 5px;
  }

  .projects__grid-container {
  }
}
@media only screen and (max-width: 1000px) {
  .projects__full-div {
    width: 100%;
    margin-left: 0;
  }

  .projects__grid-container {
    transform: translateX(-5px);
  }
}
@media only screen and (max-width: 550px) {

  .projects__grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  .project1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .project2 {
    grid-area: 4 / 1 / 5 / 3;
  }
  .project3 {
    grid-area: 1 / 2 / 3 / 3;
  }
  .project4 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .project5 {
    grid-area: 2 / 1 / 4 / 2;
  }
}
