.project-card__full-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* border: 2px solid #363636; */
    /* border-radius: 5px; */
    overflow: hidden;
}

.project-card__image{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    transition: transform 200ms ease-in-out;
    z-index: -1;
}

.project-card__full-div::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    transition: opacity 200ms ease-in-out;
}

.project-card__button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #08FDD8;
    border-radius: 100%;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 800;
    color: black;
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 0;
    width: 0;

    transition: height 200ms ease-in-out, width 200ms ease-in-out, opacity 200ms ease-in-out;
}

.project-card__full-div:hover .project-card__image{
    transform: scale(1.05);
}

.project-card__full-div:hover.project-card__full-div::before{
    opacity: 0.5;
}

.project-card__full-div:hover .project-card__button{
    opacity: 1;
    height: 5rem;
    width: 5rem;
}