.skill-leaves__full-div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  
  width: 200px;
  height: 30px;
  position: relative;
  pointer-events: none;
}

.skill-leaves__full-div-right{
    transform-origin: right;
}

.skill-leaves__full-div-left{
    transform-origin: left;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.skill-leaves__text-right{
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 900;
  font-size: 1.5rem;
  font-family: 'Noto Sans';
}

.skill-leaves__text-left{
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 900;
    font-size: 1.5rem;
    font-family: 'Noto Sans';
}

@keyframes rotateText {
  0% {
    transform: rotate3d(0, 0, 0, 0) scale(1);
    opacity: 0.8;
  }
  25% {
    transform: rotate3d(0, 1, 0, -90deg) scale(0.8);
    opacity: 0.2;
  }
  50% {
    transform: rotate3d(0, 1, 0, -180deg) scale(1);
    opacity: 0.8;
  }
  75% {
    transform: rotate3d(0, 1, 0, -270deg) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: rotate3d(0, 1, 0, -360deg) scale(1);
    opacity: 0.8;
  }
}
