.about-me__full-div{
    width: 100%;
    margin-left: 15px;
    box-sizing: border-box;
    text-align: left;
}

.about-me__text-lottie__div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.about-me__text-div{
    text-align: left;
    width: 40%;
    margin-left: 10px;
}

.lottie-animation__div{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100px, -100px);
    /* opacity: 0; */
    position: relative;
    /* border: 2px solid red; */
}

.lottie-wrapper__div{
    height: 100%;
    width: 100%;
    transform: translateX(10rem);
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.lottie-animation__div-bottom-shade{
    z-index: -1;
    width: 100%;
    height: 50px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    border-bottom: 50px solid rgb(214, 214, 214);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    opacity: 0;

    transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
}

.lottie-animation__div-visible .lottie-animation__div-bottom-shade{
    transition-delay: 1000ms, 1000ms;
    opacity: 1;
    transform: translate(-50%, calc(-50px + -50%));
}

.lottie-animation__div-visible .lottie-wrapper__div{
    opacity: 1;
    transform: translateX(0);
}

@media only screen and (max-width : 1000px) {
    .about-me__text-div{
        width: calc(100% - 50px);
    }

    .about-me__text-lottie__div{
        flex-wrap: wrap;
    }

    .lottie-animation__div{
        display: none;
    }
}