.logo__full-div{
    width: 100%;
    height: fit-content;
    width: fit-content;
    background-color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    
}

.logo__first-letter{
    font-family: 'Roboto';
    font-size: 8rem;
    color: #08FDD8;
    margin: 0;
    text-shadow: 8px 8px #FD2155;
    cursor: pointer;
    margin-right: 5px;
}

.logo__rest-name{
    color: white;
    font-family: 'Roboto';
    font-size: 1.5rem;
    margin: 0;
}

.underline{
    display: inline-flex;
    background-color: white;
    height: 2px;
    width: 0;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: width 500ms ease-in-out;
}