.me-so-far__container-div {
    /* box-sizing: border-box; */
    min-height: 100vh;
    width: calc(100% - calc(15px));
    padding-left: 15px;
    /* margin-right: 11rem; */
    /* padding-top: 40px; */
    /* box-sizing: content-box; */
    overflow-y: hidden;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.me-so-far__full-div {
    margin-left: 10px;
    width: calc(100% - 10px);
    box-sizing: border-box;
    min-height: 100vh;
    color: red;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

.me-so-far__institution-card__container{
    box-sizing: border-box;
    width: 100%;
    /* height: fit-content; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 40px;
    column-gap: 10px;
}

/*#card_1{
    transform: scale(1);
}
#card_2{
    transform: translateX(-100px) scale(0.9);
}
#card_3{
    transform: scale(0.8);
}
#card_4{
    transform: scale(0.7);
} */

@media only screen and (max-width : 1330px){
    .me-so-far__container-div {
        width: calc(100% - 25px);
        margin-right: 10px;
    }
}