.carousel__container{
    position: relative;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    height: 50vh;
    width: 100%;
}

.div {
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    transition: transform 200ms ease-in-out, z-index 200ms ease-in-out;
  }
  
  .div1 {
    z-index: 7;
    /* right: 50%;
    transform: scale(1); */
  }
  .div2 {
    right: calc(50% - 50px);
    z-index: 6;
    transform: translate(50%, -50%) scale(0.9);
  }
  .div3 {
    right: calc(50% - 100px);
    z-index: 5;
    transform: translate(50%, -50%) scale(0.8);
  }
  .div4 {
    right: calc(50% - 150px);
    z-index: 4;
    transform: translate(50%, -50%) scale(0.7);
  }
  .div5 {
    right: calc(50% - 200px);
    z-index: 3;
    transform: translate(50%, -50%) scale(0.6);
  }
  .div6 {
    right: calc(50% - 250px);
    z-index: 2;
    transform: translate(50%, -50%) scale(0.5);
  }
  .div7 {
    right: calc(50% - 300px);
    z-index: 1;
    transform: translate(50%, -50%) scale(0.4);
  }