.institution-card__full-div{
    width: 30rem;
    min-height: 20rem;
    box-sizing: border-box;
    padding: 20px;
    background-color: #0e0e0e;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    color: white;
    font-family: 'Barlow Condensed';
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.institution-card__top-border{
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 0;
    background-color: #FD2155;
    content: "";
    transition: width 500ms ease-in-out;
    transition-delay: 500ms;
}

.institution-card__icon{
    font-size: 2rem;
    color: white;
    position: absolute;
    right: 100%;
    top: calc(-1rem - 10px);
    background-color: #FD2155;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0;
    transition: right 500ms ease-in-out, opacity 500ms ease-in-out;
    transition-delay: 500ms, 500ms;
}

.animated_institution-card__full-div{
    transform: translateY(0);
    opacity: 1;
}

.animated_institution-card__full-div .institution-card__icon{
    opacity: 1;
    right: 0;
}

.animated_institution-card__full-div .institution-card__top-border{
    width: 100%;
}

.institution-card__institution-name{
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Roboto';
    color: #FD2155;
}

.institution-card__role,.institution-card__time-span{
    background-color: #232322;
    border-radius: 50px;
    padding: 5px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 10px;
    font-size: 1rem;
    color: #535353;
}

.institution-card__desc{
    font-size: 1.2rem;
    font-weight: 200;
}

.institution-card__link{
    text-decoration: none;
    background-color: #FD2155;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
}