.bouncy_letter{
    font-family: 'Roboto';
    font-size: 3rem;
    color: white;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 500ms ease-in-out, color 200ms ease-in-out;
    display: inline-block;
}

.bouncy_letter_hovered{
    color: cyan;
    animation: animateText 1s linear;
    opacity: 1;
}

@keyframes animateText {
    0%{
        transform: scale3d(1,1,1);
    }
    30%{
        transform: scale3d(1.25,.75,1);
    }
    40%{
        transform: scale3d(.75,1.25,1);
    }
    50%{
        transform: scale3d(1.15,.85,1);
    }
    65%{
        transform: scale3d(.95,1.05,1);
    }
    75%{
        transform: scale3d(1.05,.95,1);
    }
    100%{
        transform: scale3d(1,1,1);
    }
}