.navlink__full-div{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3C3E42;
    border-left: none;
    border-right: none;
    color: #bfbfbf;
    cursor: pointer;
    text-decoration: none;
}